
@using UtilsNET
@{
    Layout = "~/Views/Layout.cshtml";
    Data data = ViewBag.data;
    string date = ViewBag.date;
}

@section footer{
    <footer>
        This is a footer for update
    </footer>
}

@helper InsertUpdateForm(Data dataItem, string convertedDate)
{
    <form action="/dict/updatesave" method="post">
        <input type="number" name="id" placeholder="id" value="@dataItem.Id" readonly /><br />
        <input type="text" name="name" placeholder="name" value="@dataItem.Name" /><br />
        <input type="text" name="spec" placeholder="spec" value="@dataItem.Spec" /><br />
        <input type="number" name="syear" placeholder="syear" value="@dataItem.SYear" /><br />
        <input type="date" name="bdate" placeholder="bdate" value="@convertedDate" /><br />
        <input type="submit" />
    </form>
}

<div>
    <h3>Update</h3>
    @InsertUpdateForm(data, date)
</div>
